# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Agent/Win32
/Agent/__recovery
/Agent/__history
/ConfigServer/Win32
/ConfigServer/__history
/ConfigServer/__recovery
/Guardian/Win32
/Guardian/__astcache
/Guardian/__recovery
/Guardian/__history
/FARA/Win32
/FARA/icos
/FARA/__recovery
/FARA/__history
/FARA/*.res
/FARA/*.optset
/FARA/*.local
/Agent/ArmMngr_Icon1.ico
